"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: true
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    warnOnLargeFileLimit: 4
  "easy-motion-redux": {}
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 16
    invisibles: {}
    showLineNumbers: false
    softTabs: false
    softWrap: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "5516c064-1a60-ca2e-7b05-71c5e27ee570"
  "one-dark-ui": {}
  "one-light-ui": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    flashOnOperate: false
    flashOnSearch: false
    flashOnUndoRedo: false
    flashScreenOnSearchHasNoMatch: false
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    softTabs: false
    tabLength: 4
