# My keymap
#
# Atom keymaps work similarly to style sheets, using selectors to associate keystrokes with events in specific contexts.
# Unlike style sheets however, each selector can only be declared once.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# - https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# - https://atom.io/docs/latest/behind-atom-keymaps-in-depth
# - https://atom.io/docs/latest/using-atom-basic-customization#cson

'atom-text-editor':
	'ctrl-q': 'window:close'

# 'atom-text-editor.vim-mode.insert-mode':
'atom-text-editor.vim-mode-plus.insert-mode':
	'ctrl-e': 'emmet:expand-abbreviation'

# 'atom-text-editor.vim-mode.normal-mode':
'atom-text-editor.vim-mode-plus.normal-mode':
	'enter': 'custom:vim-mode-newline'
	# 'enter': 'editor:newline'

	'shift-enter': 'custom:vim-mode-newline-above'

	# 'ctrl-B': 'fuzzy-finder:toggle-git-status-finder'

	# 'shift-k': 'custom:vim-mode-split'
	'shift-k': 'editor:newline'

	# 'ctrl-p': 'fuzzy-finder:toggle-file-finder'

	'space d': 'core:close'

	'space e': 'tree-view:toggle-focus'

	'space f': 'fuzzy-finder:toggle-buffer-finder'

	'space i': 'editor:toggle-line-numbers'

	'space m': 'markdown-preview:toggle'

	'space n': 'pane:show-next-item'

	'space p': 'pane:show-previous-item'

	'space w c': 'pane:close'

	'space w h': 'window:focus-pane-on-left'

	'space w j': 'window:focus-pane-below'

	'space w k': 'window:focus-pane-above'

	'space w l': 'window:focus-pane-on-right'

	'space w s': 'pane:split-down-and-copy-active-item'

	'space w v': 'pane:split-right-and-copy-active-item'

	'shift-space f': 'easy-motion-redux:letter'

	'shift-space w': 'easy-motion-redux:words'

'atom-text-editor.vim-mode.visual-mode':
	'ctrl-c': 'core:copy'
	# 'ctrl-s': 'core:save'

	'shift-space f': 'easy-motion-redux:letter-select'

	'shift-space w': 'easy-motion-redux:words-select'

'.tree-view':
	'shift-e': 'tree-view:show-in-file-manager'

	'space d': 'tree-view:toggle'

# ctrl-\: Toggle tree view.
# alt-\: Toggle focus between tree view and editor.
